/* footer */
footer {
  background: #222;
  color: #fff;
  padding: 0.5rem;
  /* max-width: 95%; */
}
.container {
  max-width: 60rem;
  margin-top: 2rem;
  margin-left: 6rem;
  text-align: left;
}
li {
  list-style: none;
  line-height: 2;
}
a {
  text-decoration: none;
  /* color: #ecac0bbe; */
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.items .logo {
  text-transform: capitalize;
  font-size: 1.4em;
  color: #ecac0bbe;
}

.items h3 {
  position: relative;
  font-size: 1.3em;
  margin-bottom: 1rem;
  color: #ecac0bbe;
}

.fa:hover {
  opacity: 0.2;
  color: red;
}
footer .end {
  text-align: center;
  padding: 20px 0 0 0;
}
@media (max-width: 640px) {
  .items {
    flex-basis: 80%;
    margin: auto;
  }
}
