* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* .primary-heading {
  padding: 0 5em;
  width: 100%;
  display: flex;
  justify-content: center;
} */
.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background: black; */
}
.user-carousel {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.carousel-center {
  margin-top: 2rem;
  width: 40%;
}
.defaultHero {
  min-height: calc(100vh - 66px);
  background: url("./images/defa.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-time-picker {
  /* background: white; */
  display: flex;
  justify-content: center;
}
/*user Filter*/
.filter-container {
  padding: 2rem 0;
  background: #eebe45be;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
/* end of user filter */
/* user filter list */
.all-users-list {
  background: #af9a7d;
}
.userslist {
  padding: 1rem 0;
}
.userlist-title {
  padding: 1rem 1rem;
}
.userslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 5em;
  grid-column-gap: 30px;
}
/* end of user filter list */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */
/* services */
.services {
  padding: 5rem 0;
}
.services {
  background: var(--darkGrey);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */
/*Single User*/
.horizontal-line {
  border: 1px solid #eebe45be;
  margin: 0 1.5rem;
}
.single-user {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #cfcfcf;
}
.col {
  flex: 1 1 100%;
  padding: 1rem;
}
.image-wrapper {
  margin: 0 4rem;
  height: 300px;
  width: 300px;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
}
@media screen and (min-width: 400px) {
  .single-user .col {
    width: 100%;
  }
}
.demo-title {
  font-size: 2rem;
  padding: 0.7% 47%;
  display: block;
  font-weight: 900;
}
.image-comparer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.image-comparer {
  display: block;
  margin: 1.5rem;
}
.demo-container {
  background: #af9a7d;
  align-items: center;
}
/*end of Single User*/
/* Booking status*/
.booking-container {
  background: #eebe45be;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}
.booking-container .col {
  flex: 1 1 100%;
  padding: 1.5rem;
}
.vl {
  border-left: 6px solid rgba(241, 241, 103, 0.493);
  height: 78vh;
  margin: 2rem;
}
.map-container {
  width: 600px;
  height: 400px;
}
.map-container img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 700px) {
  .vl {
    display: none;
  }
  .booking-container {
    flex-wrap: wrap;
  }
  .booking-container .col {
    width: 100%;
  }
  .map-container {
    width: 95%;
  }
}

/* end of Booking status*/
/* Register form */
.join-container {
  background-color: #cfcfcf;
  display: flex;
  justify-content: center;
}
.join-form {
  background-color: #eebe45be;
  width: 50vw;
  max-width: 50%;
  padding: 2rem 4rem;
  border-radius: 3rem;
  margin: 2rem;
}

.input-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.input-group:last-child {
  margin-bottom: 0;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input-group input {
  width: 90%;
  outline: none;
  background: none;
  border: 1px solid #2e3852;
  font-size: 1em;
  padding: 0.5em;
  color: inherit;
  border-radius: 5px;
}

.input-group input:focus {
  border-color: #596da0;
}

/* End of Register form */
/*link color*/
.link {
  color: #fff;
  text-decoration: none;
}
.link:hover {
  color: hsla(0, 0%, 3%, 0.745);
  text-decoration: none;
}
/*end of link color*/
/* featured rooms */

.featured-cleaners {
  padding: 5rem 0;
}
.featured-cleaners-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-cleaners-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-cleaners-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured rooms */
